player-connection-mode=Listen
player-connection-guid=509514348
player-connection-debug=0
player-connection-project-name=TheDarknessSpace
player-connection-ip=192.168.3.50
player-connection-ip=192.168.194.1
player-connection-ip=192.168.164.1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
